
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* share styles */

.container{
    max-width: 1200px;
}

.btn-primary{
    padding: 20px 25px;
    margin-top: 32px;
}

.banner{
    background-image: url(./assets/images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: #fff;
    
}

.banner-items{
    padding-right: 70px;
}

.banner h1{
    padding-top: 216px;
    max-width: 500px;
    font-size: 65px;
  
}
.banner p{
   
    max-width: 500px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
  
}
.banner button{
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 100px;
}
 





